.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  /* line-height: 200px; */
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.head-img img{
  width: 100%;
  height: 400px;
}